<div class="container d-flex flex-column ">
    <div class="container-fluid">
        <div class="container-fluid d-flex flex-column justify-content-center" style="height: 374px ;">
            <div class="container-fluid d-flex flex-column justify-content-between" style="height:174px ;">

                <h1 class="mainHeading">{{projectTitle}}</h1>
                <p class="subHeading">{{projectName}}</p>
                </div>
        </div>
        <div class="container-fluid" style="height: 717px;width: 1042px; object-fit:fill ;">
            <img src="{{projectImage}}" alt="" style="height:100% ;width: 100%;">
        </div>
    </div>
    <div class="container-fluid d-flex flex-column align-items-center p-0 blog-description " style="max-width:700px;margin-top:34px ; ">
        <div class="date w-100 d-flex flex-start" style="color: #004FFF;">
            27 June, 2022
        </div>
        <div class="description " style="margin-top: 40px;">

            {{projectDescription}}
          
                <div class="row justify-content-between" style="margin-top:100px ;">
                    <div class="col-3 d-flex flex-column p-0" style="min-width: 238px;">
                    <h3 class="details-Po">Improvements</h3>
                    <p class="subHeading2" style="text-align:left;">Brand identity, Product design, development</p>
                </div>
                <div class="col-3 d-flex flex-column p-0" style="min-width: 238px;">
                    <h3 class="details-Po">Tech Stack</h3>
                    <p class="subHeading2" style="text-align:left;">Android, Flutter, Java script, Web development</p>
                </div>
                <div class="col-3 d-flex flex-column p-0">
                    <h3 class="details-Po">Status</h3>
                    <p class="subHeading2" style="text-align:left;">Launch to market</p>
                </div>


            </div>
        </div>
    </div>

</div>